{% load static%}
    <footer class="footer-area">
        <div class="container">
            <div class="">
                <div class="site-logo text-center py-4">
                    <a href="#"><img src="/static/img/logo.png" alt="logo"></a>
                </div>
                <div class="social text-center">
                    <a href="#" style="color:#f2b680;"><i class="fab fa-facebook" style="color:#f2b680"></i>Facebook</a>
                    <a href="#" style="color:#f2b680;"><i class="fab fa-linkedin" style="color:#f2b680"></i>LinkedIn</a>

                </div>
                <div class="copyrights text-center">
                    <p class="para" style="color:#f2b680;">
                        Copyright ©2021 All rights reserved <span style="color: #ffffff;">Osiris Web</span></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
